@font-face {
  font-family: 'tuiIcons';
  src:  url('/dist/fonts/tuiIcons.eot?zdeulf2');
  src:  url('/dist/fonts/tuiIcons.eot?zdeulf2#iefix') format('embedded-opentype'),
    url('/dist/fonts/tuiIcons.ttf?zdeulf2') format('truetype'),
    url('/dist/fonts/tuiIcons.woff?zdeulf2') format('woff'),
    url('/dist/fonts/tuiIcons.svg?zdeulf2#tuiIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
