<!DOCTYPE html>
<html>
  <head>
    
    <base href="/tuikdoc/"></base>
    <title>
        
            Forms - Tempo UI Kit and Guidelines
        
    </title>
    <meta name="description" content="Forms" />
    <link rel="stylesheet" href="vendors/highlight/default.css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <script src="vendors/highlight/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui.css" media="all">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-experimental.css" media="all"> -->
  </head>
  <body>
    <article class="sg">
        <nav class="sg-section sg-section--nav">
            <div class="sg-nav">
                <img class="sg-nav__logo" src="logo.png" alt="TEMPO UI KIT" width="179" height="46" />
                <h2 class="sg-nav__title">Overview</h2>
                <ol class="sg-nav__links">
                  <li class="sg-nav__links__element ">
                      <a href="changelog">Changelog</a>
                  </li>
                </ol>
                <h2 class="sg-nav__title">Foundations</h2>
                <h2 class="sg-nav__title">Components</h2>
                <ol class="sg-nav__links">
                    
                      <li class="sg-nav__links__element ">
                          <a href="components/buttons">Buttons</a>
                          
                      </li>
                    
                      <li class="sg-nav__links__element ">
                          <a href="components/buttongroups">Button Groups</a>
                          
                      </li>
                    
                      <li class="sg-nav__links__element sg-nav__links__element-is-active ">
                          <a href="components/forms">Forms</a>
                          
                              <em class="sg-draft-notification">Draft</em>

                          
                      </li>
                    
                      <li class="sg-nav__links__element ">
                          <a href="components/labels">Labels</a>
                          
                              <em class="sg-draft-notification">Draft</em>

                          
                      </li>
                    
                      <li class="sg-nav__links__element ">
                          <a href="components/textfields">Text Fields</a>
                          
                              <em class="sg-draft-notification">Draft</em>

                          
                      </li>
                    
                </ol>
            <div>
        </nav>
        <section class="sg-section sg-section--main">
            <div class="sg-content">
                <style>
    .sg-example__render .tuiForm { width: 400px; background-color: #f8f8f8; }
    .sg-example__render .tuiForm .tuiTextField:not(.tuiTextField--date) { width: 100%; }
</style>

<h1 class="sg-h1">
    Forms
     
        <em class="sg-draft-notification">Draft</em>

     
</h1>

<p class="sg-p">Use forms to allow people to enter data for use by the application, or to configure options. Forms are used to get information and guide people with minimal fuss. Designing forms well requires making decisions about structure, sequence, interface elements, field labels, help, and feedback.</p>

<div class="sg-callout">
    <h4 class="sg-callout__title">Form background color</h4>
    <p class="sg-callout__p">The gray background color applied to the forms in the following examples is only to show form elements box boundaries.</p>
</div>

<h2 class="sg-h2">Default form layouts</h2>
<p class="sg-p">
    A form <em>tuiForm</em> is composed of <em>tuiForm__row</em> elements. Each is composed of at least one column <em>tuiForm__col</em>. The column hosting the field label must apply the <em>tuiForm__col--label</em> modifier.</p>

<p class="sg-p">There's two row modifiers <em>tuiForm__row--checkbox</em> and <em>tuiForm__row--no-input</em> availble to help align checkbox and non-input fields label.</p>
<dl>
    <dt class="sg-dt">Labels</dt>
    <dd class="sg-dd">Standard label alignment is left-aligned with the field to its right.</dd>

    <dt class="sg-dt">Required field label</dt>
    <dd class="sg-dd">Mark required fields <a href="components/labels#tocrequired">with an asterisk (*)</a>. If all fields in the form are mandatory, this isn't necessary.</dd>

    <dt class="sg-dt">Disabled fields</dt>
    <dd class="sg-dd">Show disabled fields if users need to know what controls might be available to them.</dd>

    <dt class="sg-dt">Field length</dt>
    <dd class="sg-dd">The length of the field should reflect the intended length of content.</dd>
</dl>



<article class="sg-example" id="formsDefault">
    <section class="sg-example__render">
        <form class="tuiForm">
   <div class="tuiForm__row">
       <div class="tuiForm__col">
           <textarea class="tuiTextField" id="fdF1" rows="7" placeholder="Description"></textarea>
       </div>
   </div>
   <div class="tuiForm__row tuiForm__row--checkbox">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fdF2">Option 1</label>
       </div>
       <div class="tuiForm__col">
           <input type="checkbox" id="fdF2">
           <label class="tuiLabel" for="fdF3"> Option 2 <input type="checkbox" id="fdF3"></label>
       </div>
   </div>
   <div class="tuiForm__row tuiForm__row--no-input">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fdF0">User</label>
       </div>
       <div class="tuiForm__col">
           <span>User name</span>
       </div>
   </div>
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel tuiLabel-is-required" for="fdF4">Name</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fdF4">
       </div>
   </div>
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fdF5">Date</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField tuiTextField--date" type="text" id="fdF5">
           <label class="tuiLabel" for="fdF6">to</label>
           <input class="tuiTextField tuiTextField--date" type="text" id="fdF6"> 
       </div>
   </div>
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label"><label class="tuiLabel" for="f6">Comment</label></div>
       <div class="tuiForm__col"><textarea class="tuiTextField" id="f6"></textarea></div>
   </div>
   <footer class="tuiForm__footer">
       <div class="tuiForm__footer__secondary">
           <label class="tuiLabel" for="fdF7">Log Another <input type="checkbox" id="fdF7"></label>
       </div>
       <div class="tuiForm__footer__actions">
           <button class="tuiButton tuiButton--primary">Submit</button>
           <button class="tuiButton tuiButton--subtle">Cancel</button>
       </div>
   </footer>
</form>

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;form class=&#34;tuiForm&#34;&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;textarea class=&#34;tuiTextField&#34; id=&#34;fdF1&#34; rows=&#34;7&#34; placeholder=&#34;Description&#34;&gt;&lt;/textarea&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&#34;tuiForm__row tuiForm__row--checkbox&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fdF2&#34;&gt;Option 1&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input type=&#34;checkbox&#34; id=&#34;fdF2&#34; /&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fdF3&#34;&gt; Option 2 &lt;input type=&#34;checkbox&#34; id=&#34;fdF3&#34; /&gt;&lt;/label&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&#34;tuiForm__row tuiForm__row--no-input&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fdF0&#34;&gt;User&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;span&gt;User name&lt;/span&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel tuiLabel-is-required&#34; for=&#34;fdF4&#34;&gt;Name&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fdF4&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fdF5&#34;&gt;Date&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField tuiTextField--date&#34; type=&#34;text&#34; id=&#34;fdF5&#34; /&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fdF6&#34;&gt;to&lt;/label&gt;
           &lt;input class=&#34;tuiTextField tuiTextField--date&#34; type=&#34;text&#34; id=&#34;fdF6&#34; /&gt; 
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;&lt;label class=&#34;tuiLabel&#34; for=&#34;f6&#34;&gt;Comment&lt;/label&gt;&lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;&lt;textarea class=&#34;tuiTextField&#34; id=&#34;f6&#34;&gt;&lt;/textarea&gt;&lt;/div&gt;
   &lt;/div&gt;
   &lt;footer class=&#34;tuiForm__footer&#34;&gt;
       &lt;div class=&#34;tuiForm__footer__secondary&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fdF7&#34;&gt;Log Another &lt;input type=&#34;checkbox&#34; id=&#34;fdF7&#34; /&gt;&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__footer__actions&#34;&gt;
           &lt;button class=&#34;tuiButton tuiButton--primary&#34;&gt;Submit&lt;/button&gt;
           &lt;button class=&#34;tuiButton tuiButton--subtle&#34;&gt;Cancel&lt;/button&gt;
       &lt;/div&gt;
   &lt;/footer&gt;
&lt;/form&gt;
</code></pre>
    </section>
    
</article>


<h3 class="sg-h3">Very long label</h3>
<p class="sg-p">Long labels should wrap and should not be truncated.</p>



<article class="sg-example" id="formsVeryLongLabel">
    <section class="sg-example__render">
        <form class="tuiForm">
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fvllF1">Name</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fvllF1">
       </div>
   </div>
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fvllF2">Super duper long label to see if it wraps properly</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fvllF2">
       </div>
   </div>
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fvllF3">Birthdate</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fvllF3">
       </div>
   </div>
</form>

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;form class=&#34;tuiForm&#34;&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fvllF1&#34;&gt;Name&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fvllF1&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fvllF2&#34;&gt;Super duper long label to see if it wraps properly&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fvllF2&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fvllF3&#34;&gt;Birthdate&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fvllF3&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
&lt;/form&gt;
</code></pre>
    </section>
    
</article>


<h2 class="sg-h2">Compact modifier <em class="sg-eperimental-notification">Experimental</em></h2>
<p class="sg-p">When horizontal space is limited adding the <em>tuiForm--compact</em> modifier will render labels on top of the inputs.</p>




<article class="sg-example" id="formsCompact">
    <section class="sg-example__render">
        <form class="tuiForm tuiForm--compact">
   <div class="tuiForm__row">
       <div class="tuiForm__col">
           <textarea class="tuiTextField" id="fc1" rows="7" placeholder="Description"></textarea>
       </div>
   </div>
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fc2">Name</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fc2">
       </div>
   </div>
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fc3">Date</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fc3" style="width:50px">
           <label class="tuiLabel" for="fc4">to</label>
           <input class="tuiTextField" type="text" id="fc4" style="width:50px"> 
       </div>
   </div>
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label"><label class="tuiLabel" for="fc5">Comment</label></div>
       <div class="tuiForm__col"><textarea class="tuiTextField" id="fc5"></textarea></div>
   </div>
   <footer class="tuiForm__footer">
       <div class="tuiForm__footer__secondary">
           <label class="tuiLabel" for="fc7">Log Another <input type="checkbox" id="fc7"></label>
       </div>
       <div class="tuiForm__footer__actions">
           <button class="tuiButton tuiButton--primary">Submit</button>
           <button class="tuiButton tuiButton--subtle">Cancel</button>
       </div>
   </footer>
</form>

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;form class=&#34;tuiForm tuiForm--compact&#34;&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;textarea class=&#34;tuiTextField&#34; id=&#34;fc1&#34; rows=&#34;7&#34; placeholder=&#34;Description&#34;&gt;&lt;/textarea&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fc2&#34;&gt;Name&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fc2&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fc3&#34;&gt;Date&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fc3&#34; style=&#34;width:50px&#34; /&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fc4&#34;&gt;to&lt;/label&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fc4&#34; style=&#34;width:50px&#34; /&gt; 
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;&lt;label class=&#34;tuiLabel&#34; for=&#34;fc5&#34;&gt;Comment&lt;/label&gt;&lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;&lt;textarea class=&#34;tuiTextField&#34; id=&#34;fc5&#34;&gt;&lt;/textarea&gt;&lt;/div&gt;
   &lt;/div&gt;
   &lt;footer class=&#34;tuiForm__footer&#34;&gt;
       &lt;div class=&#34;tuiForm__footer__secondary&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fc7&#34;&gt;Log Another &lt;input type=&#34;checkbox&#34; id=&#34;fc7&#34; /&gt;&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__footer__actions&#34;&gt;
           &lt;button class=&#34;tuiButton tuiButton--primary&#34;&gt;Submit&lt;/button&gt;
           &lt;button class=&#34;tuiButton tuiButton--subtle&#34;&gt;Cancel&lt;/button&gt;
       &lt;/div&gt;
   &lt;/footer&gt;
&lt;/form&gt;
</code></pre>
    </section>
    
</article>



<h2 class="sg-h2">Dividers</h2>
<h3 class="sg-h3">Default divider</h3>
<p class="sg-p">There's two types of deviders, the default divider <em>tuiForm__divider</em> will render a line between 2 fields.</p>



<article class="sg-example" id="formsDefaultDivider">
    <section class="sg-example__render">
        <form class="tuiForm">
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fddF1">Name</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fddF1">
       </div>
   </div>
   <hr class="tuiForm__divider">
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fddF2">Address</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fddF2">
       </div>
   </div>
</form>

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;form class=&#34;tuiForm&#34;&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fddF1&#34;&gt;Name&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fddF1&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;hr class=&#34;tuiForm__divider&#34;&gt;&lt;/hr&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fddF2&#34;&gt;Address&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fddF2&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
&lt;/form&gt;
</code></pre>
    </section>
    
</article>


<h3 class="sg-h3">Subtle divider</h3>
<p class="sg-p">The subtle version of the divider <em>tuiForm__divider--subtle</em> will double the whitespace between 2 fields.</p>



<article class="sg-example" id="formsSubtleDivider">
    <section class="sg-example__render">
        <form class="tuiForm">
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fsdF1">Name</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fsdF1">
       </div>
   </div>
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fsdF2">Age</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fsdF2">
       </div>
   </div>
   <hr class="tuiForm__divider tuiForm__divider--subtle">
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fsdF3">Address</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fsdF3">
       </div>
   </div>
</form>

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;form class=&#34;tuiForm&#34;&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fsdF1&#34;&gt;Name&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fsdF1&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fsdF2&#34;&gt;Age&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fsdF2&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;hr class=&#34;tuiForm__divider tuiForm__divider--subtle&#34;&gt;&lt;/hr&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fsdF3&#34;&gt;Address&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fsdF3&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
&lt;/form&gt;
</code></pre>
    </section>
    
</article>


<h2>Footer</h2>
<p class="sg-p">
    Form actions should be added within a <em>tuiForm__Footer</em> element. All elements added to the <em>tuiForm__footer__actions</em> will be aligned to the right. Use a <a href="components/buttons#tocmodifiers">primary button</a> for the main action, and a <a href="components/buttons#tocmodifiers">subtle button</a> to cancel.
</p>



<article class="sg-example" id="formsFooter">
    <section class="sg-example__render">
        <form class="tuiForm">
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="ffF1">Name</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="ffF1">
       </div>
   </div>
   <footer class="tuiForm__footer">
       <div class="tuiForm__footer__actions">
           <button class="tuiButton tuiButton--primary">Submit</button>
           <button class="tuiButton tuiButton--subtle">Cancel</button>
       </div>
   </footer>
</form>

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;form class=&#34;tuiForm&#34;&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;ffF1&#34;&gt;Name&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;ffF1&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;footer class=&#34;tuiForm__footer&#34;&gt;
       &lt;div class=&#34;tuiForm__footer__actions&#34;&gt;
           &lt;button class=&#34;tuiButton tuiButton--primary&#34;&gt;Submit&lt;/button&gt;
           &lt;button class=&#34;tuiButton tuiButton--subtle&#34;&gt;Cancel&lt;/button&gt;
       &lt;/div&gt;
   &lt;/footer&gt;
&lt;/form&gt;
</code></pre>
    </section>
    
</article>


<h3 class="sg-h3">Secondary footer actions</h3>
<p class="sg-p">If additional actions are required use the <em>tuiForm__footer__secondary</em> element.</p>



<article class="sg-example" id="formsSecondaryButton">
    <section class="sg-example__render">
        <form class="tuiForm">
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fsbF1">Name</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fsbF1">
       </div>
   </div>
   <footer class="tuiForm__footer">
       <div class="tuiForm__footer__secondary">
           <button class="tuiButton">Secondary</button>
       </div>
       <div class="tuiForm__footer__actions">
           <button class="tuiButton tuiButton--primary">Submit</button>
           <button class="tuiButton tuiButton--subtle">Cancel</button>
       </div>
   </footer>
</form>

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;form class=&#34;tuiForm&#34;&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fsbF1&#34;&gt;Name&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fsbF1&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;footer class=&#34;tuiForm__footer&#34;&gt;
       &lt;div class=&#34;tuiForm__footer__secondary&#34;&gt;
           &lt;button class=&#34;tuiButton&#34;&gt;Secondary&lt;/button&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__footer__actions&#34;&gt;
           &lt;button class=&#34;tuiButton tuiButton--primary&#34;&gt;Submit&lt;/button&gt;
           &lt;button class=&#34;tuiButton tuiButton--subtle&#34;&gt;Cancel&lt;/button&gt;
       &lt;/div&gt;
   &lt;/footer&gt;
&lt;/form&gt;
</code></pre>
    </section>
    
</article>





<article class="sg-example" id="formsSecondaryLongButton">
    <section class="sg-example__render">
        <form class="tuiForm">
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fslbF1">Name</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fslbF1">
       </div>
   </div>
   <footer class="tuiForm__footer">
       <div class="tuiForm__footer__secondary">
           <button class="tuiButton">Secondary long button</button>
       </div>
       <div class="tuiForm__footer__actions">
           <button class="tuiButton tuiButton--primary">Submit</button>
           <button class="tuiButton tuiButton--subtle">Cancel</button>
       </div>
   </footer>
</form>

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;form class=&#34;tuiForm&#34;&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fslbF1&#34;&gt;Name&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fslbF1&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;footer class=&#34;tuiForm__footer&#34;&gt;
       &lt;div class=&#34;tuiForm__footer__secondary&#34;&gt;
           &lt;button class=&#34;tuiButton&#34;&gt;Secondary long button&lt;/button&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__footer__actions&#34;&gt;
           &lt;button class=&#34;tuiButton tuiButton--primary&#34;&gt;Submit&lt;/button&gt;
           &lt;button class=&#34;tuiButton tuiButton--subtle&#34;&gt;Cancel&lt;/button&gt;
       &lt;/div&gt;
   &lt;/footer&gt;
&lt;/form&gt;
</code></pre>
    </section>
    
</article>





<article class="sg-example" id="formsSecondaryCheckbox">
    <section class="sg-example__render">
        <form class="tuiForm">
   <div class="tuiForm__row">
       <div class="tuiForm__col tuiForm__col--label">
           <label class="tuiLabel" for="fscF1">Name</label>
       </div>
       <div class="tuiForm__col">
           <input class="tuiTextField" type="text" id="fscF1">
       </div>
   </div>
   <footer class="tuiForm__footer">
       <div class="tuiForm__footer__secondary">
           <label class="tuiLabel" for="fscF2">Option<input type="checkbox" id="fscF2"></label>
       </div>
       <div class="tuiForm__footer__actions">
           <button class="tuiButton tuiButton--primary">Submit</button>
           <button class="tuiButton tuiButton--subtle">Cancel</button>
       </div>
   </footer>
</form>

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;form class=&#34;tuiForm&#34;&gt;
   &lt;div class=&#34;tuiForm__row&#34;&gt;
       &lt;div class=&#34;tuiForm__col tuiForm__col--label&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fscF1&#34;&gt;Name&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__col&#34;&gt;
           &lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; id=&#34;fscF1&#34; /&gt;
       &lt;/div&gt;
   &lt;/div&gt;
   &lt;footer class=&#34;tuiForm__footer&#34;&gt;
       &lt;div class=&#34;tuiForm__footer__secondary&#34;&gt;
           &lt;label class=&#34;tuiLabel&#34; for=&#34;fscF2&#34;&gt;Option&lt;input type=&#34;checkbox&#34; id=&#34;fscF2&#34; /&gt;&lt;/label&gt;
       &lt;/div&gt;
       &lt;div class=&#34;tuiForm__footer__actions&#34;&gt;
           &lt;button class=&#34;tuiButton tuiButton--primary&#34;&gt;Submit&lt;/button&gt;
           &lt;button class=&#34;tuiButton tuiButton--subtle&#34;&gt;Cancel&lt;/button&gt;
       &lt;/div&gt;
   &lt;/footer&gt;
&lt;/form&gt;
</code></pre>
    </section>
    
</article>
            </div>
        </section>
    <article>
  </body>
</html>
