<!DOCTYPE html>
<html>
  <head>
    
    <base href="/tuikdoc/"></base>
    <title>
        
            Labels - Tempo UI Kit and Guidelines
        
    </title>
    <meta name="description" content="Labels" />
    <link rel="stylesheet" href="vendors/highlight/default.css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <script src="vendors/highlight/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui.css" media="all">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-experimental.css" media="all"> -->
  </head>
  <body>
    <article class="sg">
        <nav class="sg-section sg-section--nav">
            <div class="sg-nav">
                <img class="sg-nav__logo" src="logo.png" alt="TEMPO UI KIT" width="179" height="46" />
                <h2 class="sg-nav__title">Overview</h2>
                <ol class="sg-nav__links">
                  <li class="sg-nav__links__element ">
                      <a href="changelog">Changelog</a>
                  </li>
                </ol>
                <h2 class="sg-nav__title">Foundations</h2>
                <h2 class="sg-nav__title">Components</h2>
                <ol class="sg-nav__links">
                    
                      <li class="sg-nav__links__element ">
                          <a href="components/buttons">Buttons</a>
                          
                      </li>
                    
                      <li class="sg-nav__links__element ">
                          <a href="components/buttongroups">Button Groups</a>
                          
                      </li>
                    
                      <li class="sg-nav__links__element ">
                          <a href="components/forms">Forms</a>
                          
                              <em class="sg-draft-notification">Draft</em>

                          
                      </li>
                    
                      <li class="sg-nav__links__element sg-nav__links__element-is-active ">
                          <a href="components/labels">Labels</a>
                          
                              <em class="sg-draft-notification">Draft</em>

                          
                      </li>
                    
                      <li class="sg-nav__links__element ">
                          <a href="components/textfields">Text Fields</a>
                          
                              <em class="sg-draft-notification">Draft</em>

                          
                      </li>
                    
                </ol>
            <div>
        </nav>
        <section class="sg-section sg-section--main">
            <div class="sg-content">
                <h1 class="sg-h1">
    Labels
     
        <em class="sg-draft-notification">Draft</em>

     
</h1>


<h2 class="sg-h2">Default label</h2>
<p class="sg-p">Use sentence case only. Default alignment is right aligned. Long labels should wrap and should not be truncated.</p>


<article class="sg-example" id="labelsDefault">
    <section class="sg-example__render">
        <label class="tuiLabel">Label</label>
    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;label class=&#34;tuiLabel&#34;&gt;Label&lt;/label&gt;</code></pre>
    </section>
    
</article>


<h2 class="sg-h2" id="tocrequired">Required</h2>
<p class="sg-p">Required fields should be marked with an asterisk (*). If all fields in the form are mandatory, you don't need to put asterisks everywhere, instead you should include information at the top of the form that states that all fields should be filled.</p>


<article class="sg-example" id="labelsRequiredDefault">
    <section class="sg-example__render">
        <label class="tuiLabel tuiLabel-is-required">Required label</label>
    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;label class=&#34;tuiLabel tuiLabel-is-required&#34;&gt;Required label&lt;/label&gt;</code></pre>
    </section>
    
</article>
            </div>
        </section>
    <article>
  </body>
</html>
