<!DOCTYPE html>
<html>
  <head>
    
    <base href="/tuikdoc/"></base>
    <title>
        
            Text Fields - Tempo UI Kit and Guidelines
        
    </title>
    <meta name="description" content="Text Fields" />
    <link rel="stylesheet" href="vendors/highlight/default.css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <script src="vendors/highlight/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui.css" media="all">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-experimental.css" media="all"> -->
  </head>
  <body>
    <article class="sg">
        <nav class="sg-section sg-section--nav">
            <div class="sg-nav">
                <img class="sg-nav__logo" src="logo.png" alt="TEMPO UI KIT" width="179" height="46" />
                <h2 class="sg-nav__title">Overview</h2>
                <ol class="sg-nav__links">
                  <li class="sg-nav__links__element ">
                      <a href="changelog">Changelog</a>
                  </li>
                </ol>
                <h2 class="sg-nav__title">Foundations</h2>
                <h2 class="sg-nav__title">Components</h2>
                <ol class="sg-nav__links">
                    
                      <li class="sg-nav__links__element ">
                          <a href="components/buttons">Buttons</a>
                          
                      </li>
                    
                      <li class="sg-nav__links__element ">
                          <a href="components/buttongroups">Button Groups</a>
                          
                      </li>
                    
                      <li class="sg-nav__links__element ">
                          <a href="components/forms">Forms</a>
                          
                              <em class="sg-draft-notification">Draft</em>

                          
                      </li>
                    
                      <li class="sg-nav__links__element ">
                          <a href="components/labels">Labels</a>
                          
                              <em class="sg-draft-notification">Draft</em>

                          
                      </li>
                    
                      <li class="sg-nav__links__element sg-nav__links__element-is-active ">
                          <a href="components/textfields">Text Fields</a>
                          
                              <em class="sg-draft-notification">Draft</em>

                          
                      </li>
                    
                </ol>
            <div>
        </nav>
        <section class="sg-section sg-section--main">
            <div class="sg-content">
                <h1 class="sg-h1">
    Text Fields
     
        <em class="sg-draft-notification">Draft</em>

     
</h1>


<p class="sg-p">Use text fields to allow users to enter, select and search for text.</p>

<h2 class="sg-h2">Single line</h2>
<h3 class="sg-h3">Default</h3>



<article class="sg-example" id="textFieldsDefault">
    <section class="sg-example__render">
        <input class="tuiTextField" type="text">
<input class="tuiTextField" type="text" value="With some text...">

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; /&gt;
&lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; value=&#34;With some text...&#34; /&gt;
</code></pre>
    </section>
    
</article>


<h3 class="sg-h3">Place holder</h3>
<p class="sg-p">Placeholder text provides users with a short hint or example that describes the expected value for the text field. For example, 'Start typing to see names', or shows an example of a typical entry such as 'My first project'. You must prefix examples with 'e.g.' Only provide placeholder text where clarification is essential. In most cases, the label will provide sufficient guidance.</p>


<article class="sg-example" id="textFieldsPlaceHolder">
    <section class="sg-example__render">
        <input class="tuiTextField" type="text" placeholder="Placeholder text">
    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; placeholder=&#34;Placeholder text&#34; /&gt;</code></pre>
    </section>
    
</article>


<h3 class="sg-h3">Disabled</h3>
<p class="sg-p">Use disabled fields when there is a prerequisite condition that must be met before the user can enter a value, or when there is a scenario where that field would become available.</p>



<article class="sg-example" id="textFieldsDisabled">
    <section class="sg-example__render">
        <input class="tuiTextField" type="text" disabled="disabled">
<input class="tuiTextField" type="text" placeholder="Placeholder text" disabled="disabled">
<input class="tuiTextField" type="text" value="With some text..." disabled="disabled">

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; disabled=&#34;disabled&#34; /&gt;
&lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; placeholder=&#34;Placeholder text&#34; disabled=&#34;disabled&#34; /&gt;
&lt;input class=&#34;tuiTextField&#34; type=&#34;text&#34; value=&#34;With some text...&#34; disabled=&#34;disabled&#34; /&gt;
</code></pre>
    </section>
    
</article>


<h3 class="sg-h3">Size</h3>
<p class="sg-p">Different modifiers are available to set the input width. Use <em>tuiTextField--date</em> for ISO date inputs and <em>tuiTextField--hours</em> for time entry.</p>



<article class="sg-example" id="textFieldsSize">
    <section class="sg-example__render">
        <input class="tuiTextField tuiTextField--date" type="text" placeholder="2017-01-01">
<input class="tuiTextField tuiTextField--hours" type="text" placeholder="00:01">

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;input class=&#34;tuiTextField tuiTextField--date&#34; type=&#34;text&#34; placeholder=&#34;2017-01-01&#34; /&gt;
&lt;input class=&#34;tuiTextField tuiTextField--hours&#34; type=&#34;text&#34; placeholder=&#34;00:01&#34; /&gt;
</code></pre>
    </section>
    
</article>



<h2 class="sg-h2">Multi-line</h2>
<h3 class="sg-h3">Default</h3>



<article class="sg-example" id="textFieldsMultiLineDefault">
    <section class="sg-example__render">
        <textarea class="tuiTextField"></textarea>
<textarea class="tuiTextField">With some text...</textarea>

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;textarea class=&#34;tuiTextField&#34;&gt;&lt;/textarea&gt;
&lt;textarea class=&#34;tuiTextField&#34;&gt;With some text...&lt;/textarea&gt;
</code></pre>
    </section>
    
</article>


<h3 class="sg-h3">Place holder</h3>
<p class="sg-p">Placeholder text provides users with a short hint or example that describes the expected value for the text field. For example, 'Start typing to see names', or shows an example of a typical entry such as 'My first project'. You must prefix examples with 'e.g.' Only provide placeholder text where clarification is essential. In most cases, the label will provide sufficient guidance.</p>


<article class="sg-example" id="textFieldsMultiLinePlaceHolder">
    <section class="sg-example__render">
        <textarea class="tuiTextField" placeholder="Placeholder text"></textarea>
    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;textarea class=&#34;tuiTextField&#34; placeholder=&#34;Placeholder text&#34;&gt;&lt;/textarea&gt;</code></pre>
    </section>
    
</article>


<h3 class="sg-h3">Disabled</h3>
<p class="sg-p">Use disabled fields when there is a prerequisite condition that must be met before the user can enter a value, or when there is a scenario where that field would become available.</p>



<article class="sg-example" id="textFieldsMultiLineDisabled">
    <section class="sg-example__render">
        <textarea class="tuiTextField" disabled="disabled"></textarea>
<textarea class="tuiTextField" placeholder="Placeholder text" disabled="disabled"></textarea>
<textarea class="tuiTextField" disabled="disabled">With some text...</textarea>

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;textarea class=&#34;tuiTextField&#34; disabled=&#34;disabled&#34;&gt;&lt;/textarea&gt;
&lt;textarea class=&#34;tuiTextField&#34; placeholder=&#34;Placeholder text&#34; disabled=&#34;disabled&#34;&gt;&lt;/textarea&gt;
&lt;textarea class=&#34;tuiTextField&#34; disabled=&#34;disabled&#34;&gt;With some text...&lt;/textarea&gt;
</code></pre>
    </section>
    
</article>


<h3 class="sg-h3">Resizability</h3>
<p class="sg-p">Multi-line text fields must remain resizable at all times. You can restrict It to resize vertically only, but there should always be a way to make the text field larger.</p>



<article class="sg-example" id="textFieldsMultiLineResize">
    <section class="sg-example__render">
        <textarea class="tuiTextField">Default resize</textarea>
<textarea class="tuiTextField tuiTextField--vertical-only">Vertical only resize</textarea>

    </section>
    
    <section class="sg-example__source">
        <pre><code class="html">&lt;textarea class=&#34;tuiTextField&#34;&gt;Default resize&lt;/textarea&gt;
&lt;textarea class=&#34;tuiTextField tuiTextField--vertical-only&#34;&gt;Vertical only resize&lt;/textarea&gt;
</code></pre>
    </section>
    
</article>


<h2 class="sg-h2">Guidelines</h2>

<h3 class="sg-h3">Length</h3>
<p class="sg-p">The length of the text field should reflect the expected length of content. This guideline applies to any form controls with a similar shape, such as drop-down menus and text boxes. Keep localization in mind when determining the length of your fields.</p>

<h3 class="sg-h3">Accessibility</h3>
<p class="sg-p">Auto-focus the first field by default. Users should then be able to tab through elements in the form in a logical sequence. This maintains Section 508 accessibility compliance.</p>
            </div>
        </section>
    <article>
  </body>
</html>
